.banner{
  margin-left:auto;
  margin-right:auto;
  height:60px;
}
.navbar{
  background-color:#1d84b5;

}
.container{
  margin:0;
  width:100%;
}
.navbar-default .navbar-brand{
  color:#fbfcff;
}
.navbar-default .nav li a {
  color:#fbfcff;
}
.nav .nav-tabs{
  width:100%;
}
.content{
  position:relative;
  width:100%;
  background-color:#f2f2f2;
  padding-top:5px;
  -webkit-box-shadow: 0 2px 2px 0 #B5B5B5;
  box-shadow: 0 2px 2px 0 #B5B5B5;
}
.setwidth{
  margin:0;
}
#submit{
  left: 50px;
  top: 13px;
  position: relative;
}
#submitprot{
  left: 50px;
  top: 13px;
  position: relative;
}
.tables{
  position:relative;
  left:-15px;
}
.tables .nav .active a{
      background-color:#1d84b5;
      color:white;
}
.info{
  font-size:12px;
  position:relative;
  left:-40px;
}
.selectize-input{
  width:200px;
}
.info li {
       display: inline;
}
.info ul {
      list-style-type: none;
}
.tab-content{
  width:100%;
}
.container-fluid{
  margin-left:auto;
  margin-right:auto;
  
}