.banner{
  margin-left:auto;
  margin-right:auto;
  height:60px;
  padding-left: 1.4%;

}
.navbar{
  background-color:#1d84b5;
}
.container{
  margin:0;
  width:100%;
}
.navbar{
  margin-left: 14px;
  margin-right:14px;
}

.navbar-default .navbar-brand{
  color:#fbfcff;
}
.navbar-default .nav li a {
  color:#fbfcff;
}
.nav .nav-tabs{
  width:100%;
}
.content{
  position:relative;
  width:100%;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  background-color:#e7e7e7;
  padding-top:5px;
  -webkit-box-shadow: 0 2px 2px 0 #B5B5B5;
  -moz-box-shadow:0 2px 2px 0 #B5B5B5;
  box-shadow: 0 2px 2px 0 #B5B5B5;
  top: -20px;
}
.setwidth{
  margin:0;
}
#submit{
  left: 50px;
  top: 13px;
  position: relative;
}
#submitprot{
  left: 50px;
  top: 13px;
  position: relative;
}
.tables{
  position:relative;
  left:-15px;
}
.tables .nav .active a{
      background-color:#1d84b5;
      color:white;
}
.info{
  font-size:12px;
  position:relative;
  left:-40px;
}
.selectize-input{
  width:220px;
}
.info li {
       display: inline;
}
.info ul {
      list-style-type: none;
}
.tab-content{
  width:100%;
}
.container-fluid{
  margin-left:auto;
  margin-right:auto;
  
}
#a_d_subject{
  position:relative;
  border-radius:0 0 0 0;
}
#a_d_predicate{
  position:relative;
  left:50px;
  border-radius:0 0 0 0;
}
#a_d_object{
  position:relative;
  left:100px;
  border-radius:0 0 0 0;
}
#ma_submit{
  position:relative;
  left:150px;
  top:13px;
  border-radius:0 0 0 0;
}